ul{
display: flex;
background-color: #eeeeee;
color: white;
list-style-type: none;
padding: 0;

}

a {
    text-decoration: none;
    color: white;
}

li{
    margin: 0.1em;
}

.n1 li{
    padding: 1em;
    background-color: black;
}

.n1{
    justify-content: flex-start;
}

.n2 li{
    padding: 1em;
    background-color: black;
}

.n2{
    justify-content: flex-end;
}

.n3 li{
    padding: 1em;
    background-color: black;
}

.n3{
    justify-content: center;
}

.n4 li{
    padding: 1em;
    background-color: black;
}

.n4{
    justify-content: space-between;
}

.n5 li{
    padding: 1em;
    background-color: black;
}

.n5{
    justify-content: space-around;
}

.n6 li{
    padding: 1em;
    background-color: black;
    flex-grow: 1;
    text-align: center;
}
